
    body 
        each product¡ in products
            h1 Sección de peliculas.
            p Título: #{product.title}
            //- p Descripción: #{product.description}
            //- p Precio: #{product.price}
            //- img(src=product.image, alt=product.title width="300")